   <div class="content-wrapper">
      <!-- Container-fluid starts -->
      <div class="container-fluid">
        <!-- Main content starts -->
        <!-- Row Starts -->
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
                <div class="main-header">
                    <h5><b>NEW WHISTLE</b></h5>
                    <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
                        <li class="breadcrumb-item"><a [routerLink]="['']" routerLinkActive="router-link-active" ><i class="icofont icofont-home"></i></a>
                        </li>
                      <li class="breadcrumb-item"><small>Archives</small></li>
                      <li class="breadcrumb-item"><small>Whispers</small></li>
                      <li class="breadcrumb-item"><a [routerLink]="['/whistle-blower']" ><small>Whistle-Blower</small></a></li>
                    </ol>

                  </div>
            </div>

          </div>
        </div>
        <!-- Row end -->


        <div class="row">
          <div class="col-xl-12 col-lg-12">
            <div class="card">
              <div class="card-block">
                  <h5><b>Speak Up Today! Don't Suffer In Silence</b></h5>
                  <p class="text-success">Everyone who has a story deserves an audience<br>
                    <span class="text-default">Terms and Conditions</span></p>

              </div>
            </div>
            </div>
      </div>

      <app-new-dialogue [dialogueTypeNo] = 2></app-new-dialogue>

         <div class="row">
            <div class="col-xl-4 col-lg-12 grid-item">
                <div class="card">
                   <div class="card-block horizontal-card-img d-flex">
                      <img class="media-object img-circle" src="assets/images/avatar-3.png" alt="Generic placeholder image">
                      <div class="d-inlineblock  p-l-20">
                        <h6>Josephin Doe</h6>
                        <a href="#">contact@admin.com</a>
                     </div>
                      <h6 class="txt-warning rotate-txt">Designer</h6>
                   </div>
                </div>
             </div>
             <div class="col-xl-4 col-lg-12 grid-item">
                <div class="card">
                   <div class="card-block horizontal-card-img d-flex">
                      <img class="media-object img-circle" src="assets/images/lockscreen.png" alt="Generic placeholder image">
                      <div class="d-inlineblock  p-l-20">
                        <h6>Josephin Doe</h6>
                        <a href="#">contact@admin.com</a>
                     </div>
                      <h6 class="txt-danger rotate-txt">Developer</h6>
                   </div>
                </div>
             </div>
             <div class="col-xl-4 col-lg-12 grid-item">
                <div class="card">
                   <div class="card-block horizontal-card-img d-flex">
                      <img class="media-object img-circle" src="assets/images/lockscreen.png" alt="Generic placeholder image">
                      <div class="d-inlineblock  p-l-20">
                        <h6>Josephin Doe</h6>
                        <a href="#">contact@admin.com</a>
                     </div>
                      <h6 class="txt-danger rotate-txt">Developer</h6>
                   </div>
                </div>
             </div>
         </div>

      </div>
    </div>

