<div class="card slim">
    <div class=" table-responsive">
      <table class="table treat">
        <tr>
          <td>
            <p class="no-wrap text-center"><label>SPY
                </label></p>
          </td>
          <td>
            <p class="no-wrap text-center"><label>GEM
                </label></p>
          </td>
          <td>
            <p class="no-wrap text-center"><label>Referral (₦)
                </label></p>
          </td>
          <td>
            <p class="no-wrap text-center"><label>Bonus (₦)</label></p>
          </td>
        </tr>
        <tr>
          <td>
            <p class="no-wrap text-center"><label>{{wallet.spy | number: '1.0-4'}}</label></p>
          </td>
          <td>
            <p class="no-wrap text-center"><label>{{wallet.gem | number: '1.0-4'}}</label></p>
          </td>

          <td>
            <p class="no-wrap text-center"><label>{{wallet.ref}}</label></p>
          </td>
          <td>
            <p class="no-wrap text-center"><label>{{wallet.bonus}}</label></p>
          </td>
        </tr>
      </table>
    </div>
  </div>
