
.forceInline{
  width: 25%;
  overflow: hidden;
  float: left;
}
.forceInline a{
  padding-top:0.5em !important;
  padding-bottom:0.5em !important;
}
.slide{
  width: 25%;
  background-color: #F93707 !important;
}
.icn{
color: #2196f3;
}
summary{
  cursor: pointer;
}
.form-control{
  width: 95%;
}
