<div class="content-wrapper">
  <!-- Container-fluid starts -->
  <!-- Main content starts -->
  <div class="container-fluid">
    <!-- Row Starts -->
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="main-head" style="margin-top: 0em !important">
            <h5><b>NOTIFICATIONS</b></h5>
            <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
              <li class="breadcrumb-item"><a [routerLink]="['']" routerLinkActive="router-link-active"><i
                    class="icofont icofont-home"></i></a>
              </li>
              <li class="breadcrumb-item"><small>Overview</small></li>
              <li class="breadcrumb-item"><small>Notification</small>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <!-- Row Starts -->
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
            <app-spinner3 *ngIf="!isLoaded"></app-spinner3>
            <p *ngIf="isLoaded && notifications.length < 1">No notification found</p>
          <div *ngFor="let notif of notifications; let i=index">
            <div  *ngIf="notif.isRead">
                <p class="tint slim bold">{{notif.sender}} <small><i>- {{notif.dateCreated}}</i></small></p>
              <p class="padded">{{notif.message}}</p>
            </div>
            <div *ngIf="!notif.isRead">
                <p class="slim bold tint" style="background-color: #eee">{{notif.sender}} <small><i>- {{notif.dateCreated}}</i></small></p>
              <p class="padded tint">{{notif.message}}</p>
            </div>
              <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
