<div class="content-wrapper">
    <!-- Container-fluid starts -->
    <div class="container-fluid">
      <!-- Main content starts -->
      <!-- Row Starts -->
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="main-header">
              <h5><b>MISSING ITEM FORM</b></h5>
              <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
                  <li class="breadcrumb-item"><a [routerLink]="['']" routerLinkActive="router-link-active" ><i class="icofont icofont-home"></i></a>
                  </li>
                <li class="breadcrumb-item"><small>Archives</small></li>
                <li class="breadcrumb-item"><small>Whispers</small></li>
                <li class="breadcrumb-item"><a [routerLink]="['/search/missing']" routerLinkActive="router-link-active" ><small>Missing</small></a></li>
                <li class="breadcrumb-item"><small>Form</small></li>
              </ol>

            </div>
          </div>

        </div>
      </div>
      <!-- Row end -->

    <app-new-awareness [awarenessTypeNo]= 1></app-new-awareness>

       <div class="row">
          <div class="col-xl-4 col-lg-12 grid-item">
              <div class="card">
                 <div class="card-block horizontal-card-img d-flex">
                    <img class="media-object img-circle" src="assets/images/avatar-3.png" alt="Generic placeholder image">
                    <div class="d-inlineblock  p-l-20">
                      <h6>Josephin Doe</h6>
                      <a href="#">contact@admin.com</a>
                   </div>
                    <h6 class="txt-warning rotate-txt">Designer</h6>
                 </div>
              </div>
           </div>
           <div class="col-xl-4 col-lg-12 grid-item">
              <div class="card">
                 <div class="card-block horizontal-card-img d-flex">
                    <img class="media-object img-circle" src="assets/images/lockscreen.png" alt="Generic placeholder image">
                    <div class="d-inlineblock  p-l-20">
                      <h6>Josephin Doe</h6>
                      <a href="#">contact@admin.com</a>
                   </div>
                    <h6 class="txt-danger rotate-txt">Developer</h6>
                 </div>
              </div>
           </div>
           <div class="col-xl-4 col-lg-12 grid-item">
              <div class="card">
                 <div class="card-block horizontal-card-img d-flex">
                    <img class="media-object img-circle" src="assets/images/lockscreen.png" alt="Generic placeholder image">
                    <div class="d-inlineblock  p-l-20">
                      <h6>Josephin Doe</h6>
                      <a href="#">contact@admin.com</a>
                   </div>
                    <h6 class="txt-danger rotate-txt">Developer</h6>
                 </div>
              </div>
           </div>
       </div>

    </div>
  </div>
