<div class="content-wrapper">
    <!-- Container-fluid starts -->
    <div class="container-fluid">
      <!-- Main content starts -->
      <!-- Row Starts -->
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="main-header">
              <h5><b>NEW SCAMMER</b></h5>
              <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
                  <li class="breadcrumb-item"><a [routerLink]="['']" routerLinkActive="router-link-active" ><i class="icofont icofont-home"></i></a>
                  </li>
                <li class="breadcrumb-item"><small>Archives</small></li>
                <li class="breadcrumb-item"><small>Whispers</small></li>
                <li class="breadcrumb-item"><a [routerLink]="['/search/scammers']" routerLinkActive="router-link-active" ><small>Scammers</small></a></li>
                <li class="breadcrumb-item"><small>New</small></li>
              </ol>

            </div>
          </div>

        </div>
      </div>
      <!-- Row end -->

    <app-new-dialogue [dialogueTypeNo] = 3></app-new-dialogue>

    </div>
  </div>
