<div class="content-wrapper">
    <!-- Container-fluid starts -->
    <div class="container-fluid">
      <!-- Main content starts -->
      <!-- Row Starts -->
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="main-header">
              <h5><b>NEW PETITION</b></h5>
              <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
                  <li class="breadcrumb-item"><a [routerLink]="['']" routerLinkActive="router-link-active" ><i class="icofont icofont-home"></i></a>
                  </li>
                <li class="breadcrumb-item"><small>Archives</small></li>
                <li class="breadcrumb-item"><small>Whispers</small></li>
                <li class="breadcrumb-item"><a [routerLink]="['/search/petitions']" routerLinkActive="router-link-active" ><small>Petition</small></a></li>
                <li class="breadcrumb-item" *ngIf="!isEdit"><small>New</small></li>
              </ol>

            </div>
          </div>

        </div>
      </div>
      <!-- Row end -->

    <div class="row">
        <div class="col-xl-8 col-lg-8">
           <div class="card">
              <div class="card-block">
                <div class="form-horizonatal">
                  <div class="form-group">
                    <p>
                        <label class="btn btn-mini">
                          <input (click)="SetAnonymous(false)" name="anonymous" type="radio" checked>&nbsp; <small>Default</small>
                        </label> &nbsp;&nbsp;&nbsp;
                        <label class="btn btn-mini">
                          <input (click)="SetAnonymous(true)" name="anonymous" type="radio">&nbsp; <small>Anonymous</small>
                        </label>
                    </p>

                  </div>

                  <div class="form-group">
                      <hr>
                    <span *ngIf="imageBase64 != ''"><img [src]="imageBase64" style="max-width: 10em; max-height: 10em;"><br></span>
                    </div>


                  <div class="form-group">
                      <label for="RecordCategory" class="form-control-label">Select Record Type</label>
                      <span class="input-group-btn" >
                          <button type="button" class="btn btn-default btn-mini" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              {{selectedHall}}
                          </button>
                          <div class="dropdown-menu">
                              <small class="dropdown-item"  (click)="PickHall(hall.name, hall.id, hall.requiredVotes, hall.cost)" *ngFor="let hall of halls; let i=index">{{hall.name}} <small>({{hall.cost}} SPY)</small> </small>
                          </div> &nbsp;
                      </span>
                     <div style="padding-top: 0.5em;">
                        <small class="text-danger">{{meta}}</small>
                     </div>
                  </div>
                  <hr>

                  <div class="form-group">
                    <label for="RecordOwnerName" class="form-control-label">Name of Record Holder</label>
                    <input type="text" class="form-control" name = "recordOwnerName" [(ngModel)]="petitionModel.recordOwnerName" placeholder="Input name of record owner"/>
                    <small class="text-muted">e.g. Michael Jackson</small>
                  </div>

                  <div class="form-group">
                      <label for="RecordBriefing" class="form-control-label">Brief Statement <small>(Abstract)</small></label>
                      <textarea class="form-control" name = "brief" [(ngModel)]="petitionModel.brief" maxlength="100" placeholder="Give a quick but detailed summary"></textarea>
                    </div>

                    <div class="form-group">
                      <label for="RecordBriefing" class="form-control-label">Detailed Discuss About This Record <small>(Indepth Article)</small></label>
                      <textarea class="form-control" name = "recordOwnerStory" [(ngModel)]="petitionModel.recordOwnerStory" placeholder="Write a very detailed article"></textarea>
                    </div>

                  <div class="form-group">
                    <label for="Image" class="form-control-label">Illustration Image <small>(Optional)</small></label>
                    <input type="file"  (change) ="OptionFileChangeEvent($event)" class="form-control" style="margin-top: 0.5em;"/>
                  </div>

                    <div class="form-group text-right">
                        <span class="btn btn-mini" (click)="Post()">Post &nbsp;<i class="ti ti-arrow-right"></i> </span>
                    </div>


                </div>
              </div>
           </div>

           <!-- <div class="col-xl-6 col-lg-12">
              <div class="card">
                 <div class="card-block horizontal-card-img d-flex">
                    <img class="media-object img-circle" src="assets/images/avatar-3.png" alt="Generic placeholder image">
                    <div class="d-inlineblock  p-l-20">
                      <h6>Josephin Doe</h6>
                      <a href="#">contact@admin.com</a>
                   </div>
                    <h6 class="txt-warning rotate-txt">Designer</h6>
                 </div>
              </div>
           </div>
           <div class="col-xl-6 col-lg-12">
              <div class="card">
                 <div class="card-block horizontal-card-img d-flex">
                    <img class="media-object img-circle" src="assets/images/avatar-3.png" alt="Generic placeholder image">
                    <div class="d-inlineblock  p-l-20">
                      <h6>Josephin Doe</h6>
                      <a href="#">contact@admin.com</a>
                   </div>
                    <h6 class="txt-warning rotate-txt">Designer</h6>
                 </div>
              </div>
           </div>
           <div class="col-xl-6 col-lg-12">
              <div class="card">
                 <div class="card-block horizontal-card-img d-flex">
                    <img class="media-object img-circle" src="assets/images/avatar-3.png" alt="Generic placeholder image">
                    <div class="d-inlineblock  p-l-20">
                      <h6>Josephin Doe</h6>
                      <a href="#">contact@admin.com</a>
                   </div>
                    <h6 class="txt-warning rotate-txt">Designer</h6>
                 </div>
              </div>
           </div>
           <div class="col-xl-6 col-lg-12">
              <div class="card">
                 <div class="card-block horizontal-card-img d-flex">
                    <img class="media-object img-circle" src="assets/images/avatar-3.png" alt="Generic placeholder image">
                    <div class="d-inlineblock  p-l-20">
                      <h6>Josephin Doe</h6>
                      <a href="#">contact@admin.com</a>
                   </div>
                    <h6 class="txt-warning rotate-txt">Designer</h6>
                 </div>
              </div>
           </div> -->


           <!-- <div class="col-lg-12">

              <div class="card">
                 <div class="card-block horizontal-card-img d-flex">
                    <img class="media-object img-circle" src="assets/images/avatar-3.png" alt="Generic placeholder image">
                    <div class="d-inlineblock  p-l-20">
                      <h6>Josephin Doe</h6>
                      <a href="#">contact@admin.com</a>
                   </div>
                    <h6 class="txt-warning rotate-txt">Designer</h6>
                 </div>
              </div>
           </div> -->
        </div>

        <div class="col-xl-4 col-lg-4">
          <div class="card">
            <div class="card-block text-center">
                <img src= "assets/images/ads.jpg" style="max-width: 60%;"/>
            </div>
          </div>
            <!-- adv -->
            <!-- <div class="card">
               <div class="card-block horizontal-card-img d-flex">
                  <img class="media-object img-circle" src="assets/images/avatar-3.png" alt="Generic placeholder image">
                  <div class="d-inlineblock  p-l-20">
                    <h6>Josephin Doe</h6>
                    <a href="#">contact@admin.com</a>
                 </div>
                  <h6 class="txt-warning rotate-txt">Designer</h6>
               </div>
            </div> -->
            <!-- adv -->
            <!-- <div class="card">
               <div class="card-block horizontal-card-img d-flex">
                  <img class="media-object img-circle" src="assets/images/avatar-3.png" alt="Generic placeholder image">
                  <div class="d-inlineblock  p-l-20">
                    <h6>Josephin Doe</h6>
                    <a href="#">contact@admin.com</a>
                 </div>
                  <h6 class="txt-warning rotate-txt">Designer</h6>
               </div>
            </div>
            <div class="card">
               <div class="card-header" style="margin-bottom: 0; padding-bottom: 0;">
                  <h5 class="card-header-text">
                   <p>Missing Persons</p>
                  </h5>
                  <hr>
               </div>
               <div class="card-block" style="padding-top: 0;">
                  <div class="table-responsive">
                     <table class="table m-b-0 photo-table point">
                            <tbody>

                               <tr>
                                  <th>
                                     <img class="img-circle" src="assets/images/avatar-2.png" alt="User">
                                  </th>
                                  <td>
                                    <a href="#" class="text-dark"  style="white-space: nowrap;">James Ibori S.</a>
                                    <p>5' 6" tall with blue eyes and chiseled lips</p>
                                    <small class="text-muted"  style="white-space: nowrap;">Last Seen: <i>23rd January, 2022</i></small>
                                  </td>
                               </tr>

                               <tr>
                                  <th>
                                     <img class="img-circle" src="assets/images/avatar-2.png" alt="User">
                                  </th>
                                  <td>
                                    <a href="#" class="text-dark"  style="white-space: nowrap;">James Ibori S.</a>
                                    <p>5' 6" tall with blue eyes and chiseled lips</p>
                                    <small class="text-muted"  style="white-space: nowrap;">Last Seen: <i>23rd January, 2022</i></small>
                                  </td>
                               </tr>

                               <tr>
                                  <th>
                                     <img class="img-circle" src="assets/images/avatar-2.png" alt="User">
                                  </th>
                                  <td>
                                    <a href="#" class="text-dark"  style="white-space: nowrap;">James Ibori S.</a>
                                    <p>5' 6" tall with blue eyes and chiseled lips</p>
                                    <small class="text-muted"  style="white-space: nowrap;">Last Seen: <i>23rd January, 2022</i></small>
                                  </td>
                               </tr>

                               <tr>
                                  <th>
                                     <img class="img-circle" src="assets/images/avatar-2.png" alt="User">
                                  </th>
                                  <td>
                                    <a href="#" class="text-dark"  style="white-space: nowrap;">James Ibori S.</a>
                                    <p>5' 6" tall with blue eyes and chiseled lips</p>
                                    <small class="text-muted"  style="white-space: nowrap;">Last Seen: <i>23rd January, 2022</i></small>
                                  </td>
                               </tr>
                            </tbody>
                     </table>
                  </div>
               </div>
            </div> -->
            <!-- adv -->
            <!-- <div class="card">
               <div class="card-block horizontal-card-img d-flex">
                  <img class="media-object img-circle" src="assets/images/avatar-3.png" alt="Generic placeholder image">
                  <div class="d-inlineblock  p-l-20">
                    <h6>Josephin Doe</h6>
                    <a href="#">contact@admin.com</a>
                 </div>
                  <h6 class="txt-warning rotate-txt">Designer</h6>
               </div>
            </div> -->
            <!-- adv -->
            <!-- <div class="card">
               <div class="card-block horizontal-card-img d-flex">
                  <img class="media-object img-circle" src="assets/images/avatar-3.png" alt="Generic placeholder image">
                  <div class="d-inlineblock  p-l-20">
                    <h6>Josephin Doe</h6>
                    <a href="#">contact@admin.com</a>
                 </div>
                  <h6 class="txt-warning rotate-txt">Designer</h6>
               </div>
            </div>
            <div class="card">
               <div class="card-header" style="margin-bottom: 0; padding-bottom: 0;">
                  <h5 class="card-header-text">
                   <p>Stolen Items</p>
                  </h5>
                  <hr>
               </div>
               <div class="card-block" style="padding-top: 0;">
                  <div class="table-responsive">
                     <table class="table m-b-0 photo-table point">
                            <tbody>

                                <tr>
                                    <th>
                                       <img class="img-circle" src="assets/images/avatar-2.png" alt="User">
                                    </th>
                                    <td>
                                      <a href="#" class="text-dark"  style="white-space: nowrap;">James Ibori S.</a>
                                      <p>5' 6" tall with blue eyes and chiseled lips</p>
                                      <small class="text-muted"  style="white-space: nowrap;">Last Seen: <i>23rd January, 2022</i></small>
                                    </td>
                                 </tr>

                                 <tr>
                                    <th>
                                       <img class="img-circle" src="assets/images/avatar-2.png" alt="User">
                                    </th>
                                    <td>
                                      <a href="#" class="text-dark"  style="white-space: nowrap;">James Ibori S.</a>
                                      <p>5' 6" tall with blue eyes and chiseled lips</p>
                                      <small class="text-muted"  style="white-space: nowrap;">Last Seen: <i>23rd January, 2022</i></small>
                                    </td>
                                 </tr>

                                 <tr>
                                    <th>
                                       <img class="img-circle" src="assets/images/avatar-2.png" alt="User">
                                    </th>
                                    <td>
                                      <a href="#" class="text-dark"  style="white-space: nowrap;">James Ibori S.</a>
                                      <p>5' 6" tall with blue eyes and chiseled lips</p>
                                      <small class="text-muted"  style="white-space: nowrap;">Last Seen: <i>23rd January, 2022</i></small>
                                    </td>
                                 </tr>

                                 <tr>
                                    <th>
                                       <img class="img-circle" src="assets/images/avatar-2.png" alt="User">
                                    </th>
                                    <td>
                                      <a href="#" class="text-dark"  style="white-space: nowrap;">James Ibori S.</a>
                                      <p>5' 6" tall with blue eyes and chiseled lips</p>
                                      <small class="text-muted"  style="white-space: nowrap;">Last Seen: <i>23rd January, 2022</i></small>
                                    </td>
                                 </tr>
                            </tbody>
                     </table>
                  </div>
               </div>
            </div> -->
         </div>
     </div>

       <div>
        <div class="card">
          <div class="card-block text-center">
              <img src= "assets/images/ads2.jpg" style="max-width: 50%; max-height: 3em;"/>
          </div>
        </div>
          <!-- <div class="col-xl-4 col-lg-12 grid-item">
              <div class="card">
                 <div class="card-block horizontal-card-img d-flex">
                    <img class="media-object img-circle" src="assets/images/avatar-3.png" alt="Generic placeholder image">
                    <div class="d-inlineblock  p-l-20">
                      <h6>Josephin Doe</h6>
                      <a href="#">contact@admin.com</a>
                   </div>
                    <h6 class="txt-warning rotate-txt">Designer</h6>
                 </div>
              </div>
           </div>
           <div class="col-xl-4 col-lg-12 grid-item">
              <div class="card">
                 <div class="card-block horizontal-card-img d-flex">
                    <img class="media-object img-circle" src="assets/images/lockscreen.png" alt="Generic placeholder image">
                    <div class="d-inlineblock  p-l-20">
                      <h6>Josephin Doe</h6>
                      <a href="#">contact@admin.com</a>
                   </div>
                    <h6 class="txt-danger rotate-txt">Developer</h6>
                 </div>
              </div>
           </div>
           <div class="col-xl-4 col-lg-12 grid-item">
              <div class="card">
                 <div class="card-block horizontal-card-img d-flex">
                    <img class="media-object img-circle" src="assets/images/lockscreen.png" alt="Generic placeholder image">
                    <div class="d-inlineblock  p-l-20">
                      <h6>Josephin Doe</h6>
                      <a href="#">contact@admin.com</a>
                   </div>
                    <h6 class="txt-danger rotate-txt">Developer</h6>
                 </div>
              </div>
           </div> -->
       </div>

    </div>
  </div>
