<div>
    <div class="col-xl-6 col-lg-6">
        <div class="card">
            <div class="card-header" style="margin-bottom: 0; padding-bottom: 0;">
               <h5 class="card-header-text">
                <p>Top Petitions</p>
               </h5>
               <hr>
            </div>
            <div class="card-block" style="padding-top: 0;">
               <div class="table-responsive">
                  <table class="table m-b-0 photo-table">
                         <tbody>

                            <tr>
                               <th>
                                  <img class="img-circle" src="assets/images/avatar-2.png" alt="User">
                               </th>
                               <td style="white-space: nowrap;">
                                 <a href="#" class="text-dark">James Ibori S.</a>
                                 <p class="text-muted"><i>Hall of Fame Petition</i></p>
                               </td>
                               <td style="white-space: nowrap;">
                                 <p>
                                    <button type="button" class="btn btn-outline-success btn-mini waves-effect waves-light">
                                        <i class="icofont icofont-thumbs-up"></i>
                                      </button>
                                      &nbsp;
                                    <button type="button" class="btn btn-outline-danger btn-mini waves-effect waves-light">
                                        <i class="icofont icofont-thumbs-down"></i>
                                      </button>
                                 </p>
                               </td>
                            </tr>

                            <tr>
                                <th>
                                   <img class=" img-circle" src="assets/images/avatar-4.png" alt="User">
                                </th>
                                <td>
                                  <a href="#" class="text-dark">Adam Clason J.</a>
                                  <p  class="text-muted"><i>Hall of Shame Petition</i></p>
                                </td>
                                <td style="white-space: nowrap;">
                                  <p>
                                     <button type="button" class="btn btn-outline-success btn-mini waves-effect waves-light">
                                         <i class="icofont icofont-thumbs-up"></i>
                                       </button>
                                       &nbsp;
                                     <button type="button" class="btn btn-outline-danger btn-mini waves-effect waves-light">
                                         <i class="icofont icofont-thumbs-down"></i>
                                       </button>
                                  </p>
                                </td>
                             </tr>


                            <tr>
                                <th>
                                   <img class="img-fluid img-circle" src="assets/images/avatar-3.png" alt="User">
                                </th>
                                <td>
                                  <a href="#" class="text-dark">James Ibori S.</a>
                                  <p  class="text-muted"><i>Hall of Fame Petition</i></p>
                                </td>
                                <td style="white-space: nowrap;">
                                  <p>
                                     <button type="button" class="btn btn-outline-success btn-mini waves-effect waves-light">
                                         <i class="icofont icofont-thumbs-up"></i>
                                       </button>
                                       &nbsp;
                                     <button type="button" class="btn btn-outline-danger btn-mini waves-effect waves-light">
                                         <i class="icofont icofont-thumbs-down"></i>
                                       </button>
                                  </p>
                                </td>
                             </tr>

                             <tr>
                                 <th>
                                    <img class="img-fluid img-circle" src="assets/images/avatar-1.png" alt="User">
                                 </th>
                                 <td style="white-space: nowrap;">
                                   <a href="#" class="text-dark">Adam Clason J.</a>
                                   <p  class="text-muted"><i>Hall of Shame Petition</i></p>
                                 </td>
                                 <td style="white-space: nowrap;">
                                   <p>
                                      <button type="button" class="btn btn-outline-success btn-mini waves-effect waves-light">
                                          <i class="icofont icofont-thumbs-up"></i>
                                        </button>
                                        &nbsp;
                                      <button type="button" class="btn btn-outline-danger btn-mini waves-effect waves-light">
                                          <i class="icofont icofont-thumbs-down"></i>
                                        </button>
                                   </p>
                                 </td>

                              </tr>
                         </tbody>
                  </table>
               </div>
            </div>
         </div>
     </div>

     <div class="col-xl-6 col-lg-6">
        <div class="card">
            <div class="card-header" style="margin-bottom: 0; padding-bottom: 0;">
               <h5 class="card-header-text">
                <p>Suggested Petitions</p>
               </h5>
               <hr>
            </div>
            <div class="card-block" style="padding-top: 0;">
               <div class="table-responsive">
                  <table class="table m-b-0 photo-table">
                         <tbody>

                            <tr>
                               <th>
                                  <img class="img-circle" src="assets/images/avatar-2.png" alt="User">
                               </th>
                               <td style="white-space: nowrap;">
                                 <a href="#" class="text-dark">James Ibori S.</a>
                                 <p class="text-muted"><i>Hall of Fame Petition</i></p>
                               </td>
                               <td style="white-space: nowrap;">
                                 <p>
                                    <button type="button" class="btn btn-outline-success btn-mini waves-effect waves-light">
                                        <i class="icofont icofont-thumbs-up"></i>
                                      </button>
                                      &nbsp;
                                    <button type="button" class="btn btn-outline-danger btn-mini waves-effect waves-light">
                                        <i class="icofont icofont-thumbs-down"></i>
                                      </button>
                                 </p>
                               </td>
                            </tr>

                            <tr>
                                <th>
                                   <img class=" img-circle" src="assets/images/avatar-4.png" alt="User">
                                </th>
                                <td>
                                  <a href="#" class="text-dark">Adam Clason J.</a>
                                  <p  class="text-muted"><i>Hall of Shame Petition</i></p>
                                </td>
                                <td style="white-space: nowrap;">
                                  <p>
                                     <button type="button" class="btn btn-outline-success btn-mini waves-effect waves-light">
                                         <i class="icofont icofont-thumbs-up"></i>
                                       </button>
                                       &nbsp;
                                     <button type="button" class="btn btn-outline-danger btn-mini waves-effect waves-light">
                                         <i class="icofont icofont-thumbs-down"></i>
                                       </button>
                                  </p>
                                </td>
                             </tr>


                            <tr>
                                <th>
                                   <img class="img-fluid img-circle" src="assets/images/avatar-3.png" alt="User">
                                </th>
                                <td>
                                  <a href="#" class="text-dark">James Ibori S.</a>
                                  <p  class="text-muted"><i>Hall of Fame Petition</i></p>
                                </td>
                                <td style="white-space: nowrap;">
                                  <p>
                                     <button type="button" class="btn btn-outline-success btn-mini waves-effect waves-light">
                                         <i class="icofont icofont-thumbs-up"></i>
                                       </button>
                                       &nbsp;
                                     <button type="button" class="btn btn-outline-danger btn-mini waves-effect waves-light">
                                         <i class="icofont icofont-thumbs-down"></i>
                                       </button>
                                  </p>
                                </td>
                             </tr>

                             <tr>
                                 <th>
                                    <img class="img-fluid img-circle" src="assets/images/avatar-1.png" alt="User">
                                 </th>
                                 <td style="white-space: nowrap;">
                                   <a href="#" class="text-dark">Adam Clason J.</a>
                                   <p  class="text-muted"><i>Hall of Shame Petition</i></p>
                                 </td>
                                 <td style="white-space: nowrap;">
                                   <p>
                                      <button type="button" class="btn btn-outline-success btn-mini waves-effect waves-light">
                                          <i class="icofont icofont-thumbs-up"></i>
                                        </button>
                                        &nbsp;
                                      <button type="button" class="btn btn-outline-danger btn-mini waves-effect waves-light">
                                          <i class="icofont icofont-thumbs-down"></i>
                                        </button>
                                   </p>
                                 </td>

                              </tr>
                         </tbody>
                  </table>
               </div>
            </div>
         </div>
     </div>

</div>
