            <!-- Row Starts -->
            <div class="row">
                <div class="col-lg-12 p-0">
                   <div class="card closeBottom">
                       <div class="main-header">
                           <h5>POD</h5>
                           <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
                              <li class="breadcrumb-item"><a href="index.html"><i class="icofont icofont-home"></i></a>
                              </li>
                              <li class="breadcrumb-item"><small>Archives</small></li>
                              <li class="breadcrumb-item"><a href="notification.html"><small>Pool</small></a>
                              </li>
                           </ol>
                        </div>
                   </div>

                </div>
             </div>
             <!-- Row end -->
    <div class="table-responsive">
       <table class="table">
          <tbody>
             <tr (click)="loadConnect()">
                <td>
                   <p class="noWrap">1</p>
                </td>
                <td>
                   <p class="noWrap">Amazing Grace Int'l</p>
                </td>
                <td>
                  <p class="noWrap">12-14 Winjobi Street, Off Old Ife Road Ibadan</p>
                </td>
                <td>
                  <p><i class="text-muted">
                   Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                   ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                   quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  </i></p>
                </td>
             </tr>

             <tr (click)="loadConnect()">
               <td>
                  <p class="noWrap">2</p>
               </td>
               <td>
                  <p class="noWrap">NYSC</p>
               </td>
               <td>
                 <p class="noWrap">Custom</p>
               </td>
               <td>
                 <p><i class="text-muted">
                   Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                   ut labore et dolore magna aliqua. Ut enim ad minim veniam
                 </i></p>
               </td>
            </tr>
          </tbody>
       </table>
    </div>
<app-connect></app-connect>
