<div class="row">
  <div class="col-xl-8 col-lg-8">
    <app-spinner3 *ngIf="!isLoaded"></app-spinner3>
    <div *ngIf="isLoaded">
      <div class="card">
        <table class="table">
          <tr>
            <td colspan="6">
              <span>

                <span class="input-group" *ngIf="toggleSearchFilterIndicator" style="width: 70%; float: left;">
                  <span class="input-group-btn" id="btn-addon3.1">
                    <span type="submit" (click)="toggleSearchFilter(false)"
                      class="btn btn-danger btn-mini waves-effect waves-light">
                      x
                    </span>
                  </span>
                  <input id="btnaddon2" type="text" class="form-control form-control-sm thresold-i"
                    [(ngModel)]="searchString" placeholder="Type search keywords..." maxlength="25"
                    aria-describedby="btn-addon2">
                  <span class="input-group-btn" id="btn-addon2">
                    <button type="submit" class="btn btn-primary  btn-mini waves-effect waves-light"
                      (click)="SearchFilter()">
                      Go!
                    </button>
                  </span>
                </span>

                <!-- <span style="float: right;">
                  <i class="btn btn-mini icon-magnifier" (click)="toggleSearchFilter(true)"
                    *ngIf="!toggleSearchFilterIndicator"></i>
                  <i class="btn btn-mini icofont {{arrowButton}}" (click)="toggleArrow()"></i>
                  <i class="btn btn-mini icon icon-settings"></i>
                </span> -->
              </span>
            </td>
          </tr>
        </table>
      </div>

      <div class="card">
          <p class="text-center" *ngIf="confessions.length < 1">
              No Records Found
            </p>
      </div>
      <div class="card" *ngFor="let confession of confessions; let i=index">
        <table class="table m-b-0 photo-table">
          <tbody>
            <tr class="treat">

              <td colspan="4" class="text-center no-wrap" style="background-color: #f5f5f5;">
                <img (click)="OpenProfile()" class="img-fluid img-circle pointer" src="{{confession.image}}"
                  alt="User"><br>

                <p>
                  <b (click)="OpenProfile()">{{confession.createdBy}}</b> <br>
                  <small> {{confession.date}}<br>
                    <i class="icofont icofont-clock-time"></i><i>{{confession.time}}</i></small>
                </p>
              </td>
              <td class="accordion-content accordion-desc pointer" (click)="Details(confession.id)">
                <h6 class="border-bottom padded">{{confession.title}} </h6>

                <p class="padded">
                  {{confession.details}}
                </p>
                <!--
                          <footer class="no-wrap padded" style="margin-top: 1em;">
                            <span class="btn"><i class="icofont icofont-thumbs-up"></i><small> 170000</small></span>
                            <span class="btn" style="margin-left: 1em;"><i class="icofont icofont-thumbs-down"></i><small>3500</small></span>
                            <span class="btn" style="margin-left: 1em;"><i class="icofont icofont-ui-copy"></i></span>
                            <span class="btn" style="margin-left: 1em;"><i class="icofont icofont-flag-alt-2"></i></span>
                          </footer> -->

              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card">
          <div class="card-block text-center">
              <img src= "assets/images/ads2.jpg" style="max-width: 50%; max-height: 3em;"/>
          </div>
        </div>
    </div>

  </div>
  <div class="col-xl-4 col-lg-4">
      <div class="card">
          <div class="card-block text-center">
              <img src= "assets/images/ads.jpg" style="max-width: 60%;"/>
          </div>
        </div>
    <!-- <div class="card">
      <div class="card-header" style="margin-bottom: 0; padding-bottom: 0;">
        <h5 class="card-header-text">
          <p>Confirmed Petitions</p>
        </h5>
        <hr>
      </div>
      <div class="card-block" style="padding-top: 0;">
        <div class="table-responsive">
          <table class="table m-b-0 photo-table">
            <tbody>

              <tr>
                <th>
                  <img class="img-circle" src="assets/images/avatar-2.png" alt="User">
                </th>
                <td style="white-space: nowrap;">
                  <a href="#" class="text-dark">James Ibori S.</a>
                  <p class="text-muted"><i>Hall of Fame Petition</i></p>
                </td>
              </tr>

              <tr>
                <th>
                  <img class=" img-circle" src="assets/images/avatar-4.png" alt="User">
                </th>
                <td>
                  <a href="#" class="text-dark">Adam Clason J.</a>
                  <p class="text-muted"><i>Hall of Shame Petition</i></p>
                </td>
              </tr>


              <tr>
                <th>
                  <img class="img-fluid img-circle" src="assets/images/avatar-3.png" alt="User">
                </th>
                <td>
                  <a href="#" class="text-dark">James Ibori S.</a>
                  <p class="text-muted"><i>Hall of Fame Petition</i></p>
                </td>
              </tr>

              <tr>
                <th>
                  <img class="img-fluid img-circle" src="assets/images/avatar-1.png" alt="User">
                </th>
                <td style="white-space: nowrap;">
                  <a href="#" class="text-dark">Adam Clason J.</a>
                  <p class="text-muted"><i>Hall of Shame Petition</i></p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div> -->
    <!-- adv -->
    <!-- <div class="card">
      <div class="card-block horizontal-card-img d-flex">
        <img class="media-object img-circle" src="assets/images/avatar-3.png" alt="Generic placeholder image">
        <div class="d-inlineblock  p-l-20">
          <h6>Josephin Doe</h6>
          <a href="#">contact@admin.com</a>
        </div>
        <h6 class="txt-warning rotate-txt">Designer</h6>
      </div>
    </div> -->
    <!-- adv -->
    <!-- <div class="card">
      <div class="card-block horizontal-card-img d-flex">
        <img class="media-object img-circle" src="assets/images/avatar-3.png" alt="Generic placeholder image">
        <div class="d-inlineblock  p-l-20">
          <h6>Josephin Doe</h6>
          <a href="#">contact@admin.com</a>
        </div>
        <h6 class="txt-warning rotate-txt">Designer</h6>
      </div>
    </div>
    <div class="card">
      <div class="card-header" style="margin-bottom: 0; padding-bottom: 0;">
        <h5 class="card-header-text">
          <p>Top Petitions</p>
        </h5>
        <hr>
      </div>
      <div class="card-block" style="padding-top: 0;">
        <div class="table-responsive">
          <table class="table m-b-0 photo-table">
            <tbody>

              <tr>
                <th>
                  <img class="img-circle" src="assets/images/avatar-2.png" alt="User">
                </th>
                <td style="white-space: nowrap;">
                  <a href="#" class="text-dark">James Ibori S.</a>
                  <p class="text-muted"><i>Hall of Fame Petition</i></p>
                </td>
                <td style="white-space: nowrap;">
                  <p>
                    <button type="button" class="btn btn-outline-success btn-mini waves-effect waves-light">
                      <i class="icofont icofont-thumbs-up"></i>
                    </button>
                    &nbsp;
                    <button type="button" class="btn btn-outline-danger btn-mini waves-effect waves-light">
                      <i class="icofont icofont-thumbs-down"></i>
                    </button>
                  </p>
                </td>
              </tr>

              <tr>
                <th>
                  <img class=" img-circle" src="assets/images/avatar-4.png" alt="User">
                </th>
                <td>
                  <a href="#" class="text-dark">Adam Clason J.</a>
                  <p class="text-muted"><i>Hall of Shame Petition</i></p>
                </td>
                <td style="white-space: nowrap;">
                  <p>
                    <button type="button" class="btn btn-outline-success btn-mini waves-effect waves-light">
                      <i class="icofont icofont-thumbs-up"></i>
                    </button>
                    &nbsp;
                    <button type="button" class="btn btn-outline-danger btn-mini waves-effect waves-light">
                      <i class="icofont icofont-thumbs-down"></i>
                    </button>
                  </p>
                </td>
              </tr>


              <tr>
                <th>
                  <img class="img-fluid img-circle" src="assets/images/avatar-3.png" alt="User">
                </th>
                <td>
                  <a href="#" class="text-dark">James Ibori S.</a>
                  <p class="text-muted"><i>Hall of Fame Petition</i></p>
                </td>
                <td style="white-space: nowrap;">
                  <p>
                    <button type="button" class="btn btn-outline-success btn-mini waves-effect waves-light">
                      <i class="icofont icofont-thumbs-up"></i>
                    </button>
                    &nbsp;
                    <button type="button" class="btn btn-outline-danger btn-mini waves-effect waves-light">
                      <i class="icofont icofont-thumbs-down"></i>
                    </button>
                  </p>
                </td>
              </tr>

              <tr>
                <th>
                  <img class="img-fluid img-circle" src="assets/images/avatar-1.png" alt="User">
                </th>
                <td style="white-space: nowrap;">
                  <a href="#" class="text-dark">Adam Clason J.</a>
                  <p class="text-muted"><i>Hall of Shame Petition</i></p>
                </td>
                <td style="white-space: nowrap;">
                  <p>
                    <button type="button" class="btn btn-outline-success btn-mini waves-effect waves-light">
                      <i class="icofont icofont-thumbs-up"></i>
                    </button>
                    &nbsp;
                    <button type="button" class="btn btn-outline-danger btn-mini waves-effect waves-light">
                      <i class="icofont icofont-thumbs-down"></i>
                    </button>
                  </p>
                </td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div> -->
    <!-- adv -->
    <!-- <div class="card">
      <div class="card-block horizontal-card-img d-flex">
        <img class="media-object img-circle" src="assets/images/avatar-3.png" alt="Generic placeholder image">
        <div class="d-inlineblock  p-l-20">
          <h6>Josephin Doe</h6>
          <a href="#">contact@admin.com</a>
        </div>
        <h6 class="txt-warning rotate-txt">Designer</h6>
      </div>
    </div> -->
    <!-- adv -->
    <!-- <div class="card">
      <div class="card-block horizontal-card-img d-flex">
        <img class="media-object img-circle" src="assets/images/avatar-3.png" alt="Generic placeholder image">
        <div class="d-inlineblock  p-l-20">
          <h6>Josephin Doe</h6>
          <a href="#">contact@admin.com</a>
        </div>
        <h6 class="txt-warning rotate-txt">Designer</h6>
      </div>
    </div>
    <div class="card">
      <div class="card-header" style="margin-bottom: 0; padding-bottom: 0;">
        <h5 class="card-header-text">
          <p>Suggested Petitions</p>
        </h5>
        <hr>
      </div>
      <div class="card-block" style="padding-top: 0;">
        <div class="table-responsive">
          <table class="table m-b-0 photo-table">
            <tbody>

              <tr>
                <th>
                  <img class="img-circle" src="assets/images/avatar-2.png" alt="User">
                </th>
                <td style="white-space: nowrap;">
                  <a href="#" class="text-dark">James Ibori S.</a>
                  <p class="text-muted"><i>Hall of Fame Petition</i></p>
                </td>
                <td style="white-space: nowrap;">
                  <p>
                    <button type="button" class="btn btn-outline-success btn-mini waves-effect waves-light">
                      <i class="icofont icofont-thumbs-up"></i>
                    </button>
                    &nbsp;
                    <button type="button" class="btn btn-outline-danger btn-mini waves-effect waves-light">
                      <i class="icofont icofont-thumbs-down"></i>
                    </button>
                  </p>
                </td>
              </tr>

              <tr>
                <th>
                  <img class=" img-circle" src="assets/images/avatar-4.png" alt="User">
                </th>
                <td>
                  <a href="#" class="text-dark">Adam Clason J.</a>
                  <p class="text-muted"><i>Hall of Shame Petition</i></p>
                </td>
                <td style="white-space: nowrap;">
                  <p>
                    <button type="button" class="btn btn-outline-success btn-mini waves-effect waves-light">
                      <i class="icofont icofont-thumbs-up"></i>
                    </button>
                    &nbsp;
                    <button type="button" class="btn btn-outline-danger btn-mini waves-effect waves-light">
                      <i class="icofont icofont-thumbs-down"></i>
                    </button>
                  </p>
                </td>
              </tr>


              <tr>
                <th>
                  <img class="img-fluid img-circle" src="assets/images/avatar-3.png" alt="User">
                </th>
                <td>
                  <a href="#" class="text-dark">James Ibori S.</a>
                  <p class="text-muted"><i>Hall of Fame Petition</i></p>
                </td>
                <td style="white-space: nowrap;">
                  <p>
                    <button type="button" class="btn btn-outline-success btn-mini waves-effect waves-light">
                      <i class="icofont icofont-thumbs-up"></i>
                    </button>
                    &nbsp;
                    <button type="button" class="btn btn-outline-danger btn-mini waves-effect waves-light">
                      <i class="icofont icofont-thumbs-down"></i>
                    </button>
                  </p>
                </td>
              </tr>

              <tr>
                <th>
                  <img class="img-fluid img-circle" src="assets/images/avatar-1.png" alt="User">
                </th>
                <td style="white-space: nowrap;">
                  <a href="#" class="text-dark">Adam Clason J.</a>
                  <p class="text-muted"><i>Hall of Shame Petition</i></p>
                </td>
                <td style="white-space: nowrap;">
                  <p>
                    <button type="button" class="btn btn-outline-success btn-mini waves-effect waves-light">
                      <i class="icofont icofont-thumbs-up"></i>
                    </button>
                    &nbsp;
                    <button type="button" class="btn btn-outline-danger btn-mini waves-effect waves-light">
                      <i class="icofont icofont-thumbs-down"></i>
                    </button>
                  </p>
                </td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div> -->
  </div>
</div>
