.click:hover{
  background-color: #eee;
  }
  .click:active{
  background-color: #ccc;
  }
  td,th{
    padding: 0.1em;
    padding-left: 0.3em;
    padding-right: 0.3em;
  }
  .btn-outline-primary{
    margin-right: 0.5em;
    margin-top: 0.5em !important;
  }
  .btn-standard{
    width: 100%;
  }
