    <!-- <h6 class="sub-title">Tab With Icon</h6> -->

    <!-- <div class="sub-title">Tab With Icon
        <a href="" class="f-right" data-toggle="modal" data-target="#tab-icon-Modal">
           <i class="icofont icofont-code-alt"></i>
        </a>
     </div> -->

     <div class="modal fade modal-flex" id="tab-icon-Modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
           <div class="modal-content">
              <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                              </button>
                 <h5 class="modal-title">Code Explanation for Tab With Icon </h5>
              </div>
              <!-- end of modal-header -->
              <div class="modal-body">
                 <pre class="brush: html;">

                          /* Use For Tab Icon */

                              &lt;ul class="nav nav-tabs md-tabs" role="tablist"&gt;
                                  &lt;li class="nav-item"&gt;
                                     &lt;a class="nav-link active" data-toggle="tab" href="#home7" role="tab"&gt;&lt;i class="icofont icofont-home"&gt;&lt;/i&gt;Home&lt;/a&gt;
                                      &lt;div class="slide"&gt;&lt;/div&gt;
                                  &lt;/li&gt;
                                  &lt;li class="nav-item"&gt;
                                      &lt;a class="nav-link" data-toggle="tab" href="#profile7" role="tab"&gt;&lt;i class="icofont icofont-ui-user"&gt;&lt;/i&gt;Profile&lt;/a&gt;
                                      &lt;div class="slide"&gt;&lt;/div&gt;
                                  &lt;/li&gt;
                                  &lt;li class="nav-item"&gt;
                                      &lt;a class="nav-link" data-toggle="tab" href="#messages7" role="tab"&gt;&lt;i class="icofont icofont-ui-message">&lt;/i&gt;Messages&lt;/a&gt;
                                      &lt;div class="slide"&gt;&lt;/div&gt;
                                  &lt;/li&gt;
                                  &lt;li class="nav-item"&gt;
                                      &lt;a class="nav-link" data-toggle="tab" href="#settings7" role="tab"&gt;&lt;i class="icofont icofont-ui-settings">&lt;/i&gt;Settings&lt;/a&gt;
                                      &lt;div class="slide"&gt;&lt;/div&gt;
                                  &lt;/li&gt;
                              &lt;/ul&gt;

                              /* Tab panes */

                              &lt;div class="tab-content"&gt;
                                  &lt;div class="tab-pane active" id="home7" role="tabpanel"&gt;
                                      &lt;p&gt;1. This is Photoshop's version of Lorem IpThis is Photoshop's version of&gt;Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                                          Aenean mas Cum sociis natoque penatibus et magnis dis.....&lt;/p&gt;
                                  &lt;/div&gt;
                                  &lt;div class="tab-pane" id="profile7" role="tabpanel"&gt;
                                      &lt;p&gt;2.Cras consequat in enim ut efficitur. Nulla posuere elit quis auctor&gt;interdum praesent sit amet nulla vel enim amet. Donec convallis tellus neque, et imperdiet felis amet.&lt;/p&gt;
                                  &lt;/div&gt;
                                  &lt;div class="tab-pane" id="messages7" role="tabpanel"&gt;
                                      &lt;p&gt;3. This is Photoshop's version of Lorem IpThis is Photoshop's version of&gt;Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                                          Aenean mas Cum sociis natoque penatibus et magnis dis.....&lt;/p&gt;
                                  &lt;/div&gt;
                                  &lt;div class="tab-pane" id="settings7" role="tabpanel"&gt;
                                      &lt;p&gt;4.Cras consequat in enim ut efficitur. Nulla posuere elit quis auctor&gt;interdum praesent sit amet nulla vel enim amet. Donec convallis tellus neque, et imperdiet felis amet.&lt;/p&gt;
                                  &lt;/div&gt;
                              &lt;/div&gt;
                      </pre>
              </div>
              <!-- end of modal-body -->
           </div>
           <!-- end of modal-content -->
        </div>
        <!-- end of modal-dialog -->
     </div>
     <!-- end of modal -->
