<section class="login p-fixed d-flex text-center bg-primary">
	<!-- Container-fluid starts -->
	<div class="container-fluid">
		<div class="row">

			<div class="col-sm-12">
				<div class="login-card card-block">
      <div class="text-center">
        <a [routerLink]="['']" routerLinkActive="router-link-active">
          <img src="assets/images/logo-black.png" alt="logo">
          </a>
      </div>
            <hr>

            <app-spinner3 *ngIf="isProcessing"></app-spinner3>
       <div class="password" *ngIf="!isProcessing && isSuccess && !isFinished">
        <p>
        Create A New Password
       </p>
       <hr>
        <input type="password" [(ngModel)]="login.password" class="form-control" placeholder="New Password">
        <input type="password" [(ngModel)]="confirmPass" class="form-control" placeholder="Confirm Password">
       <div class="text-right"  style="margin-top: 1em;">
        <button *ngIf="!isLoading" class="btn btn-mini btn-outline-primary" (click)="UpdatePassword()">
          Update Password
        </button>
        <app-spinner3 *ngIf="isLoading"></app-spinner3>

        <p (click)="GotoRegister()" style="margin-top: 1em;">
          Create New Account
        </p>
        <small class="anchor" (click)="GotoLogin()">
          or login to existing account >
        </small>
            <hr>
            <div class="text-dark text-center">
       <small>All terms & conditions apply, </small>    <a [routerLink]="['/search']">
           <small>Get Started</small>
            </a>
            </div>
       </div>
       </div>

          <div class="text-center" *ngIf="isFinished">
            <h4 class="text-success">Password Updated Successfully!</h4>
            <small class="anchor" (click)="GotoLogin()">
              or login to existing account >
            </small> <hr>
            <div class="text-dark text-center">
              <small>All terms & conditions apply, </small>    <a [routerLink]="['/search']">
                  <small>Get Started</small>
                   </a>
                   </div>
          </div>
          <div class="text-center" *ngIf="!isSuccess && !isProcessing">
            <h4 class="text-danger">Password Update Failed!</h4>
            <p (click)="GotoRegister()">
              Create New Account
            </p>
            <small class="anchor" (click)="GotoLogin()">
              or login to existing account >
            </small> <hr>
            <div class="text-dark text-center">
              <small>All terms & conditions apply, </small>    <a [routerLink]="['/search']">
                  <small>Get Started</small>
                   </a>
                   </div>
          </div>
					<!-- end of form -->
				</div>
				<!-- end of login-card -->
			</div>
			<!-- end of col-sm-12 -->
		</div>
		<!-- end of row -->
	</div>
	<!-- end of container-fluid -->
</section>
