<div class="card">
    <div class="card-block">
      <div class="table-responsive">
        <table class="table treat" style="padding-bottom: 0em;">
          <tr>
              <td>
                  <div class="form-group">
                      <input type="number" placeholder="Amount of SPY" class="form-control form-control-sm" min="1">
                      <small>Max: 134,000</small>
                    </div>
              </td>
              <td>
                  <div class="form-group">
                      <input type="number" class="form-control form-control-sm" placeholder="Price (₦)" min="0">
                      <small>$ <i class="icofont icofont-long-arrow-right text-orange"></i> ₦670</small>
                    </div>
              </td>
          </tr>
          <tr>
            <td colspan="2">
                <button class="btn btn-mini btn-warning" style="width: 100%;"><i class="ti ti-shopping-cart-full"></i>
                  &nbsp;Sell On Marketplace</button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
