
<div class="content-wrapper">
    <!-- Container-fluid starts -->
    <div class="container-fluid">
      <!-- Main content starts -->
      <!-- Row Starts -->
      <div class="row"  *ngIf="!isLoaded">
          <app-spinner3></app-spinner3>
      </div>
    <div class="row" *ngIf="isLoaded">
        <div class="col-xl-8 col-lg-8">
            <div class="card">
                <div class="main-header">
                    <h6 class= "text-danger" style="cursor: pointer;" (click)="Back()"><b>{{tag | uppercase}} {{missing.itemTypeName | uppercase}}</b></h6>
                    <h3><b>{{missing.title}}</b></h3>
                    <span style="border-top: solid thin #f5f5f5; margin-top: -0.4em; padding-top: 0.4em">
                        <small class="anchor" (click)="openProfile(missing.createdBy, missing.creatorID)"><i class="icofont icofont-user"></i> {{missing.createdBy}}</small>
                        <i class="icofont icofont-calendar" style="margin-left: 1em; color: red;"></i> <small> {{missing.day}} </small>
                        <i class="icofont icofont-clock-time" style="margin-left: 1em;"></i> <small> {{missing.time}}</small>
                    </span>
                </div>
              </div>

            <!-- <div class="card">
                <div class="main-header">
                    <p>
                        <a class="anchor btn btn-mini btn-default" (click)="Alert()">Ping Author <i class="icon-bell"></i></a> &nbsp;
                        <a class="btn btn-mini anchor" (click)="SendMessage()">Send Message <i class="icon-bubbles"></i></a>
                    </p>
                </div>
              </div> -->

              <app-banner-gen [hidden]="isHideBanner" [Title] = "tag +' '+missing.itemTypeName" [Name] ="missing.title"
              [LastSeen]="missing.lastSeen" [Desc] = "missing.desc" [Image] = missing.image [Features]="features"
              [Username] = "missing.createdBy" [parentThis] ="thisParent"></app-banner-gen>

          <div class="card" [hidden]="!isHideBanner">
            <div class="card-block text-center">

              <a href="{{missing.image}}" data-lightbox="missingImage" data-title="{{missing.title}}">
                    <img src="{{missing.image}}" style="max-width: 50%; max-height: 150px;" alt="">
                  </a>
                  <br>
                  <div>{{missing.title}}</div>
                  <hr>
                  <div>
                    <span class="btn btn-mini btn-outline-dark" (click)="GetBanner(missing.image)">Download Awarness Banner &nbsp;<i class="ti ti-new-window"></i></span>
                  </div>
            </div>
          </div>

          <div class="card" [hidden]="!isHideBanner" *ngIf="(missing.update == undefined || missing.update =='' || missing.update ==null) && isOwner">
            <div class="card-block">
              <h6>
                <span class="btn btn-success btn-mini" (click)="AllowUpdate()">Update This Record</span>
                 </h6>
            <div *ngIf="isUpdate">
              <hr>
              <p>
                Caution: This irreversible process is available only once. Only update record after person, animal or item has been found or restored.
              </p>
              <hr>
              <textarea name="update" class="form-control" [(ngModel)]="update" cols="30" rows="10" placeholder="Share extensive details"></textarea>
              <br>
              <button class="btn btn-mini btn-success" (click)="UpdateBrief()">Update Record</button>
            </div>
            </div>
          </div>

          <div class="card" [hidden]="!isHideBanner" *ngIf="missing.update != undefined">
            <div class="card-block">
              <h6>
                <span class="text-success">Update</span>
                <i class="icofont icofont-calendar" style="margin-left: 1em; color: red;"></i> <small> {{missing.updateDay}} </small>
                <i class="icofont icofont-clock-time" style="margin-left: 1em;"></i> <small> {{missing.updateTime}}</small>
              </h6>
              <hr>
              <p>
                 <i>{{missing.update}}</i>
              </p>
            </div>
          </div>

          <div class="card" [hidden]="!isHideBanner">
            <div class="card-block">
              <h6>
                Last Seen
              </h6>
              <hr>
              <p>
                  {{missing.lastSeen}}
              </p>
            </div>
          </div>

          <div class="card" [hidden]="!isHideBanner">
              <div class="card-block">
                <h6>
                  Identification Details
                </h6>
                <hr>
                  <table class="table treat" *ngIf="features.length > 0">
                      <tr *ngFor="let feature of features; let i=index">
                        <td class="tint">
                          <p>{{feature.featureType}}</p>
                        </td>
                        <td class="padded">
                          <p>{{feature.value}}</p>
                        </td>
                      </tr>
                    </table>
              </div>
          </div>

          <div class="card" [hidden]="!isHideBanner">
              <div class="card-block">
                <h6>{{missing.itemTypeName}} Description</h6>
                <hr>

                <p>
                    {{missing.desc}}
                </p>
              </div>
            </div>

            <div class="card" [hidden]="!isHideBanner">
              <div class="card-block">

                <h6>Detailed Information</h6>
                <hr>

                <p>
                    {{missing.fullInfo}}
                </p>
              </div>
            </div>
           <app-gallery [creatorID] = missing.creatorID [itemID] = recordID  [hidden]="!isHideBanner"></app-gallery>

           <app-comment-box [route] = route [itemID] = recordID  [hidden]="!isHideBanner"></app-comment-box>
        </div>

        <div class="col-xl-4 col-lg-4">
            <div class="card">
                <div class="card-block text-center">
                    <img src= "assets/images/ads.jpg" style="max-width: 60%;"/>
                </div>
              </div>
            <!-- <div class="card">
               <div class="card-header" style="margin-bottom: 0; padding-bottom: 0;">
                  <h5 class="card-header-text">
                   <p>Missing Persons</p>
                  </h5>
                  <hr>
               </div>
               <div class="card-block" style="padding-top: 0;">
                  <div class="table-responsive">
                     <table class="table m-b-0 photo-table point">
                            <tbody>

                               <tr>
                                  <th>
                                     <img class="img-circle" src="assets/images/avatar-2.png" alt="User">
                                  </th>
                                  <td>
                                    <a href="#" class="text-dark"  style="white-space: nowrap;">James Ibori S.</a>
                                    <p>5' 6" tall with blue eyes and chiseled lips</p>
                                    <small class="text-muted"  style="white-space: nowrap;">Last Seen: <i>23rd January, 2022</i></small>
                                  </td>
                               </tr>

                               <tr>
                                  <th>
                                     <img class="img-circle" src="assets/images/avatar-2.png" alt="User">
                                  </th>
                                  <td>
                                    <a href="#" class="text-dark"  style="white-space: nowrap;">James Ibori S.</a>
                                    <p>5' 6" tall with blue eyes and chiseled lips</p>
                                    <small class="text-muted"  style="white-space: nowrap;">Last Seen: <i>23rd January, 2022</i></small>
                                  </td>
                               </tr>

                               <tr>
                                  <th>
                                     <img class="img-circle" src="assets/images/avatar-2.png" alt="User">
                                  </th>
                                  <td>
                                    <a href="#" class="text-dark"  style="white-space: nowrap;">James Ibori S.</a>
                                    <p>5' 6" tall with blue eyes and chiseled lips</p>
                                    <small class="text-muted"  style="white-space: nowrap;">Last Seen: <i>23rd January, 2022</i></small>
                                  </td>
                               </tr>

                               <tr>
                                  <th>
                                     <img class="img-circle" src="assets/images/avatar-2.png" alt="User">
                                  </th>
                                  <td>
                                    <a href="#" class="text-dark"  style="white-space: nowrap;">James Ibori S.</a>
                                    <p>5' 6" tall with blue eyes and chiseled lips</p>
                                    <small class="text-muted"  style="white-space: nowrap;">Last Seen: <i>23rd January, 2022</i></small>
                                  </td>
                               </tr>
                            </tbody>
                     </table>
                  </div>
               </div>
            </div> -->
            <!-- adv -->

            <!-- <div class="card">
               <div class="card-header" style="margin-bottom: 0; padding-bottom: 0;">
                  <h5 class="card-header-text">
                   <p>Stolen Items</p>
                  </h5>
                  <hr>
               </div>
               <div class="card-block" style="padding-top: 0;">
                  <div class="table-responsive">
                     <table class="table m-b-0 photo-table point">
                            <tbody>

                                <tr>
                                    <th>
                                       <img class="img-circle" src="assets/images/avatar-2.png" alt="User">
                                    </th>
                                    <td>
                                      <a href="#" class="text-dark"  style="white-space: nowrap;">James Ibori S.</a>
                                      <p>5' 6" tall with blue eyes and chiseled lips</p>
                                      <small class="text-muted"  style="white-space: nowrap;">Last Seen: <i>23rd January, 2022</i></small>
                                    </td>
                                 </tr>

                                 <tr>
                                    <th>
                                       <img class="img-circle" src="assets/images/avatar-2.png" alt="User">
                                    </th>
                                    <td>
                                      <a href="#" class="text-dark"  style="white-space: nowrap;">James Ibori S.</a>
                                      <p>5' 6" tall with blue eyes and chiseled lips</p>
                                      <small class="text-muted"  style="white-space: nowrap;">Last Seen: <i>23rd January, 2022</i></small>
                                    </td>
                                 </tr>

                                 <tr>
                                    <th>
                                       <img class="img-circle" src="assets/images/avatar-2.png" alt="User">
                                    </th>
                                    <td>
                                      <a href="#" class="text-dark"  style="white-space: nowrap;">James Ibori S.</a>
                                      <p>5' 6" tall with blue eyes and chiseled lips</p>
                                      <small class="text-muted"  style="white-space: nowrap;">Last Seen: <i>23rd January, 2022</i></small>
                                    </td>
                                 </tr>

                                 <tr>
                                    <th>
                                       <img class="img-circle" src="assets/images/avatar-2.png" alt="User">
                                    </th>
                                    <td>
                                      <a href="#" class="text-dark"  style="white-space: nowrap;">James Ibori S.</a>
                                      <p>5' 6" tall with blue eyes and chiseled lips</p>
                                      <small class="text-muted"  style="white-space: nowrap;">Last Seen: <i>23rd January, 2022</i></small>
                                    </td>
                                 </tr>
                            </tbody>
                     </table>
                  </div>
               </div>
            </div> -->
         </div>
     </div>
    </div>
  </div>
