<div class="content-wrapper">
  <!-- Container-fluid starts -->
  <div class="container-fluid">
     <!-- Main content starts -->
        <!-- Row Starts -->
        <div class="row"  data-aos="zoom-in" data-aos-delay="100">
           <div class="col-lg-12 p-0">
              <div class="card">
                  <div class="main-header">
                      <h4>Petitions</h4>
                      <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
                         <li class="breadcrumb-item"><a href="index.html"><i class="icofont icofont-home"></i></a>
                         </li>
                         <li class="breadcrumb-item">Overview</li>
                         <li class="breadcrumb-item"><a href="notification.html">Petition</a>
                         </li>
                      </ol>
                   </div>
              </div>

           </div>
        </div>
        <!-- Row end -->
  <div class="row">
              <div class="col-xl-8 col-lg-12">
                 <div class="card">
                    <div class="card-block">
                       <div class="table-responsive">
                          <table class="table m-b-0 photo-table">
                            <thead>
                            </thead>
                             <tbody>
                                <tr>
                                   <th>
                                      <img class="img-fluid img-circle" src="assets/images/avatar-2.png" alt="User">
                                   </th>
                                   <td>
                                     <p  class="text-muted"><i>Hall of Fame Petition</i></p>
                                     <a href="#" class="text-dark">James Ibori S.</a>

                                   </td>
                                   <td>
                                      <span class="pie" style="display: none;">226,134</span><svg class="peity" height="30" width="30"><path d="M 15.000000000000002 0 A 15 15 0 1 1 4.209902994920235 25.41987555688496 L 15 15" fill="#2196F3"></path><path d="M 4.209902994920235 25.41987555688496 A 15 15 0 0 1 14.999999999999996 0 L 15 15" fill="#ccc"></path></svg>
                                   </td>
                                   <td>
                                     <p>Target: 120,000</p>
                                     <small><i class="text-muted"><i class="icofont icofont-clock-time"></i>October 21, 2015</i></small>
                                   </td>
                                   <td class="flex-content-center">
                                      <button type="button" class="btn btn-outline-primary btn-icon waves-effect waves-light">
                                          <i class="icofont icofont-thumbs-up"></i>
                                        </button>
                                        <button type="button" class="btn btn-outline-danger btn-icon waves-effect waves-light">
                                            <i class="icofont icofont-thumbs-down"></i>
                                          </button>
                                   </td>
                                </tr>

                                <tr>
                                    <th>
                                       <img class="img-fluid img-circle" src="assets/images/avatar-4.png" alt="User">
                                    </th>
                                    <td>
                                      <p  class="text-muted"><i>Hall of Shame Petition</i></p>
                                      <a href="#" class="text-dark">Adam Clason J.</a>

                                    </td>
                                    <td>
                                       <span class="pie" style="display: none;">226,134</span><svg class="peity" height="30" width="30"><path d="M 15.000000000000002 0 A 15 15 0 1 1 4.209902994920235 25.41987555688496 L 15 15" fill="#E40505"></path><path d="M 4.209902994920235 25.41987555688496 A 15 15 0 0 1 14.999999999999996 0 L 15 15" fill="#ccc"></path></svg>
                                    </td>
                                    <td>
                                      <p>Target: 220,000</p>
                                      <small><i class="text-muted"><i class="icofont icofont-clock-time"></i>October 21, 2015</i></small>
                                    </td>
                                    <td class="flex-content-center">
                                       <button type="button" class="btn btn-outline-primary btn-icon waves-effect waves-light">
                                           <i class="icofont icofont-thumbs-up"></i>
                                         </button>
                                         <button type="button" class="btn btn-outline-danger btn-icon waves-effect waves-light">
                                             <i class="icofont icofont-thumbs-down"></i>
                                           </button>
                                    </td>
                                 </tr>


                                <tr>
                                    <th>
                                       <img class="img-fluid img-circle" src="assets/images/avatar-3.png" alt="User">
                                    </th>
                                    <td>
                                      <p  class="text-muted"><i>Hall of Fame Petition</i></p>
                                      <a href="#" class="text-dark">James Ibori S.</a>

                                    </td>
                                    <td>
                                       <span class="pie" style="display: none;">226,134</span><svg class="peity" height="30" width="30"><path d="M 15.000000000000002 0 A 15 15 0 1 1 4.209902994920235 25.41987555688496 L 15 15" fill="#2196F3"></path><path d="M 4.209902994920235 25.41987555688496 A 15 15 0 0 1 14.999999999999996 0 L 15 15" fill="#ccc"></path></svg>
                                    </td>
                                    <td>
                                      <p>Target: 120,000</p>
                                      <small><i class="text-muted"><i class="icofont icofont-clock-time"></i>October 21, 2015</i></small>
                                    </td>
                                    <td class="flex-content-center">
                                       <button type="button" class="btn btn-outline-primary btn-icon waves-effect waves-light">
                                           <i class="icofont icofont-thumbs-up"></i>
                                         </button>
                                         <button type="button" class="btn btn-outline-danger btn-icon waves-effect waves-light">
                                             <i class="icofont icofont-thumbs-down"></i>
                                           </button>
                                    </td>
                                 </tr>

                                 <tr>
                                     <th>
                                        <img class="img-fluid img-circle" src="assets/images/avatar-1.png" alt="User">
                                     </th>
                                     <td>
                                       <p  class="text-muted"><i>Hall of Shame Petition</i></p>
                                       <a href="#" class="text-dark">Adam Clason J.</a>

                                     </td>
                                     <td>
                                        <span class="pie" style="display: none;">226,134</span><svg class="peity" height="30" width="30"><path d="M 15.000000000000002 0 A 15 15 0 1 1 4.209902994920235 25.41987555688496 L 15 15" fill="#E40505"></path><path d="M 4.209902994920235 25.41987555688496 A 15 15 0 0 1 14.999999999999996 0 L 15 15" fill="#ccc"></path></svg>
                                     </td>
                                     <td>
                                       <p>Target: 220,000</p>
                                       <small><i class="text-muted"><i class="icofont icofont-clock-time"></i>October 21, 2015</i></small>
                                     </td>
                                     <td class="flex-content-center">
                                        <button type="button" class="btn btn-outline-primary btn-icon waves-effect waves-light">
                                            <i class="icofont icofont-thumbs-up"></i>
                                          </button>
                                          <button type="button" class="btn btn-outline-danger btn-icon waves-effect waves-light">
                                              <i class="icofont icofont-thumbs-down"></i>
                                            </button>
                                     </td>
                                  </tr>
                             </tbody>
                          </table>
                       </div>
                    </div>
                 </div>

                 <div class="col-xl-6 col-lg-12 grid-item">
                    <div class="card">
                       <div class="card-block horizontal-card-img d-flex">
                          <img class="media-object img-circle" src="assets/images/avatar-3.png" alt="Generic placeholder image">
                          <div class="d-inlineblock  p-l-20">
                            <h6>Josephin Doe</h6>
                            <a href="#">contact@admin.com</a>
                         </div>
                          <h6 class="txt-warning rotate-txt">Designer</h6>
                       </div>
                    </div>
                 </div>

                 <div class="col-xl-6 col-lg-12 grid-item">
                    <div class="card">
                       <div class="card-block horizontal-card-img d-flex">
                          <img class="media-object img-circle" src="assets/images/avatar-3.png" alt="Generic placeholder image">
                          <div class="d-inlineblock  p-l-20">
                            <h6>Josephin Doe</h6>
                            <a href="#">contact@admin.com</a>
                         </div>
                          <h6 class="txt-warning rotate-txt">Designer</h6>
                       </div>
                    </div>
                 </div>

                 <div class="col-xl-6 col-lg-12 grid-item">
                    <div class="card">
                       <div class="card-block horizontal-card-img d-flex">
                          <img class="media-object img-circle" src="assets/images/avatar-3.png" alt="Generic placeholder image">
                          <div class="d-inlineblock  p-l-20">
                            <h6>Josephin Doe</h6>
                            <a href="#">contact@admin.com</a>
                         </div>
                          <h6 class="txt-warning rotate-txt">Designer</h6>
                       </div>
                    </div>
                 </div>

                 <div class="col-xl-6 col-lg-12 grid-item">
                    <div class="card">
                       <div class="card-block horizontal-card-img d-flex">
                          <img class="media-object img-circle" src="assets/images/avatar-3.png" alt="Generic placeholder image">
                          <div class="d-inlineblock  p-l-20">
                            <h6>Josephin Doe</h6>
                            <a href="#">contact@admin.com</a>
                         </div>
                          <h6 class="txt-warning rotate-txt">Designer</h6>
                       </div>
                    </div>
                 </div>

              </div>
              <div class="col-xl-4 col-lg-12">
                  <div class="row">
                      <div class="card">
                          <div class="user-block-2">
                             <img class="img-fluid" src="assets/images/widget/user-1.png" alt="user-header">
                             <h5>Josephin Villa</h5>
                             <h6>Software Engineer</h6>
                          </div>
                          <div class="card-block">
                             <div class="user-block-2-activities">
                                <div class="user-block-2-active">
                                   <i class="icofont icofont-clock-time"></i> Recent Petitions
                                   <label class="label label-primary">480</label>
                                </div>
                             </div>
                             <div class="user-block-2-activities">
                                <div class="user-block-2-active">
                                   <i class="icofont icofont-users"></i> Total Petitions
                                   <label class="label label-primary">390</label>
                                </div>
                             </div>

                             <div class="user-block-2-activities">
                                <div class="user-block-2-active">
                                   <i class="icofont icofont-ui-user"></i> Signed Petitions
                                   <label class="label label-primary">485</label>
                                </div>

                             </div>
                             <div class="user-block-2-activities">
                                <div class="user-block-2-active">
                                   <i class="icofont icofont-picture"></i> UnSigned Petitions
                                   <label class="label label-primary">506</label>
                                </div>
                             </div>
                             <div class="text-center">
                                <button type="button" class="btn btn-warning waves-effect waves-light text-uppercase m-r-30">
                                         Follows
                                     </button>
                                <button type="button" class="btn btn-primary waves-effect waves-light text-uppercase">
                                         Message
                                     </button>
                             </div>
                          </div>
                       </div>
                   </div>
              </div>
           </div>
           <div class="row">
              <div class="col-xl-4 col-lg-12 grid-item">
                  <div class="card">
                     <div class="card-block horizontal-card-img d-flex">
                        <img class="media-object img-circle" src="assets/images/avatar-3.png" alt="Generic placeholder image">
                        <div class="d-inlineblock  p-l-20">
                          <h6>Josephin Doe</h6>
                          <a href="#">contact@admin.com</a>
                       </div>
                        <h6 class="txt-warning rotate-txt">Designer</h6>
                     </div>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-12 grid-item">
                  <div class="card">
                     <div class="card-block horizontal-card-img d-flex">
                        <img class="media-object img-circle" src="assets/images/lockscreen.png" alt="Generic placeholder image">
                        <div class="d-inlineblock  p-l-20">
                          <h6>Josephin Doe</h6>
                          <a href="#">contact@admin.com</a>
                       </div>
                        <h6 class="txt-danger rotate-txt">Developer</h6>
                     </div>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-12 grid-item">
                  <div class="card">
                     <div class="card-block horizontal-card-img d-flex">
                        <img class="media-object img-circle" src="assets/images/lockscreen.png" alt="Generic placeholder image">
                        <div class="d-inlineblock  p-l-20">
                          <h6>Josephin Doe</h6>
                          <a href="#">contact@admin.com</a>
                       </div>
                        <h6 class="txt-danger rotate-txt">Developer</h6>
                     </div>
                  </div>
               </div>
           </div>

</div>
</div>
