<div class="card">
    <div class="card-block horizontal-card-img d-flex">
       <img class="media-object img-circle" src="assets/images/avatar-3.png" alt="Generic placeholder image">
       <div class="d-inlineblock  p-l-20">
         <h6>Josephin Doe</h6>
         <a href="#">contact@admin.com</a>
      </div>
       <h6 class="txt-warning rotate-txt">Designer</h6>
    </div>
 </div>
 <!-- adv -->
 <div class="card">
    <div class="card-block horizontal-card-img d-flex">
       <img class="media-object img-circle" src="assets/images/avatar-3.png" alt="Generic placeholder image">
       <div class="d-inlineblock  p-l-20">
         <h6>Josephin Doe</h6>
         <a href="#">contact@admin.com</a>
      </div>
       <h6 class="txt-warning rotate-txt">Designer</h6>
    </div>
 </div>
 <!-- adv -->
 <div class="card">
    <div class="card-block horizontal-card-img d-flex">
       <img class="media-object img-circle" src="assets/images/avatar-3.png" alt="Generic placeholder image">
       <div class="d-inlineblock  p-l-20">
         <h6>Josephin Doe</h6>
         <a href="#">contact@admin.com</a>
      </div>
       <h6 class="txt-warning rotate-txt">Designer</h6>
    </div>
 </div>
 <!-- adv -->
 <div class="card">
    <div class="card-block horizontal-card-img d-flex">
       <img class="media-object img-circle" src="assets/images/avatar-3.png" alt="Generic placeholder image">
       <div class="d-inlineblock  p-l-20">
         <h6>Josephin Doe</h6>
         <a href="#">contact@admin.com</a>
      </div>
       <h6 class="txt-warning rotate-txt">Designer</h6>
    </div>
 </div>
